{% block content %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/register.css' %}">
<link rel="stylesheet" href="{% static 'css/navs.css' %}"> 
<link rel="stylesheet" href="{% static 'js/nav.js' %}"> 
	{% include 'snippets/nav.html' %}
<body>
{% if form.errors %}
	<div class="error_message col-md-12 offset-md-0 alert alert-danger" role="alert">
	{% for field in form %}
		{{ field.errors }}
	{% endfor %}
	</div>
{% endif %}
<div class="card-sign"  style="margin-top: 50px;">
  <div class="margin">	
	<div class="container py-5">
		<div class="row">
	        <div class="col-md-12">
	            <div class="row">
	                <div class="col-md-6 mx-auto">
	                    <span class="anchor" id="formLogin"></span>
	                    <div class="cards card rounded-1">
	                        <div class="card-header">
	                            <h3 class="sign">Sign-up</h3>
	                        </div>
	                        <div class="card-body">
	  						<form method="post" enctype="multipart/form-data">{% csrf_token %}
								 {{ form.as_p }}
   				 				<input type="submit" value="Submit" />
							</form>
	                        </div>
	                        <!--/card-block-->
	                    </div>
	                    <!-- /form card login -->
	                </div>
	            </div>
	            <!--/row-->
	        </div>
	        <!--/col-->
	    </div>
	    <!--/row-->
	</div>
  </div>
</div>
<!--/container-->
</div>
</body>
{% endblock %}