{% load static %}
<!DOCTYPE html>
<html>
 
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'css/navs.css' %}"> 
<link rel="stylesheet" href="{% static 'js/nav.js' %}"> 
<div id="navbar">
<div class="topnav" id="myTopnav">
  <a href='{% url "blog:post" %}' class="active">Home</a>

  <div class="dropdown">
    <button class="dropbtn">Status
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#">Publish</a>
      <a href="#">Draft</a>
      <a href="#">Hidden</a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Category
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#">Publish</a>
      <a href="#">Draft</a>
      <a href="#">Hidden</a>
    </div>
  </div> 
  <div>{% if user.is_authenticated %}
     {% if request.user.is_active %}
      <a href='{% url "user" user.id %}' class="user">{{ user.email}}</a>
      <a href='{% url "logout" %}'><span>Logout<span></a>
      {% endif %}
        {% else %}  
          <a class="out" href='{% url "login" %}'>Sign in</a>
      {% endif %}
  </div>
 
 
  </div>
  </div>
  </div>
 
</head>
</html>

 <script src="{% static 'js/nav.js' %}"></script>