{% load static %}
<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static 'css/navs.css' %}"> 
<link rel="stylesheet" href="{% static 'js/nav.js' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/Post_list.css' %}" />
{% include 'snippets/nav.html' %}
<title>Post Detail</title>
 {% block content %} 
    <div class="card">
      <h1 class="title">{{post.blog.heading}}</h1>
      <small class="sub_heading">{{post.blog.sub_heading}}</small> 
      <h3><a href="{% url 'blog:post-edit' post.title%}">{{post.title}}</h3></a>
      <p><strong>Posted By:</strong> {{post.user.first_name}} {{post.user.last_name}}</p>
      <small> Posted on: {{ post.date|timesince }} ago</small></p>
      <img src="{{post.banner_photo.url}}">
      <p class="p">{{post.body}}</p>
      <small>Date Modified: {{obj.date_modified }} </small>
      <div class="tags">
      {% for tag in obj.tags.all %}
          {% if not forloop.last %}
        {{tag}},</small></a>
          {% else  %}
        {{tag}}</small></a>
          {% endif %}
      {% endfor %}
      </div> 
    </div>
   <div class="bg" >

   <p>commments :</p>
    {% for comment in comment %}
    <p>{{comment.author.first_name}} {{comment.author.last_name}}: {{ comment.text }}</p>
    <small>{{ comment.date_created  }}</small>
    <hr>
   {% endfor %}
    <a href="{% url 'blog:post-comment' post.id%}">Add Comment</a>
</div>
{% endblock %}
</html> 